/* FONTS */
@import url(../fonts/inter/inter.css);
@import url(../fonts/great-vibes/great-vibes.css);

/* VARIABLES */
:root {
  --ff-body: "Inter", sans-serif;
  --ff-heading: "Great Vibes", sans-serif;

  --clr-body: rgba(13, 13, 13, 0.95);
  --clr-brand: #ff9f0d;

  --trandition: 0.4s all ease;
}

/* RESET */
body {
  color: white;
  min-height: 1vh;
  font-family: var(--ff-body);
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--clr-body);
}

img,
picture,
svg {
  max-width: 100%;
}

/* Utility */

.sectionPadding {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.sectionPaddingTop {
  padding-top: 8rem;
}

.sectionPaddingBottom {
  padding-bottom: 8rem;
}

.color-brand {
  color: var(--clr-brand);
}

.txtSubtitle {
  color: var(--clr-brand);
  font-family: var(--ff-heading);
}

/* Hero */
#hero {
  padding-top: 10rem;
  padding-bottom: 5rem;

  background: linear-gradient(rgba(13, 13, 13, 0.95), rgba(13, 13, 13, 0.95)),
    url(../images/hero-bg.jpg) no-repeat center;
  background-size: cover;
}

#hero h1 {
  color: var(--clr-brand);
  font-family: var(--ff-heading);
}
