/* FONTS */
@import url(../fonts/inter/inter.css);
@import url(../fonts/great-vibes/great-vibes.css);

/* VARIABLES */
:root {
  --ff-body: "Inter", sans-serif;
  --ff-heading: "Great Vibes", sans-serif;

  --clr-body: rgba(13, 13, 13, 0.95);
  --clr-body-light: rgba(13, 13, 13, 0.6);
  --clr-brand: #ff9f0d;

  --transition: 0.4s all ease;

  /* From Bootstrap */
  /* --bs-gutter-x: 2rem; */
}

/* RESET */
body {
  color: white;
  min-height: 1vh;
  font-family: var(--ff-body);
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--clr-body);
}

img,
picture,
svg {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  transition: var(--transition);
}

a:hover {
  color: var(--clr-brand);
}

/* Utility */

.sectionPadding {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.sectionPaddingTop {
  padding-top: 5rem;
}

.sectionPaddingBottom {
  padding-bottom: 5rem;
}

.color-body {
  color: var(--clr-body);
}

.color-brand {
  color: var(--clr-brand);
}

.txtSubtitle {
  color: var(--clr-brand);
  font-family: var(--ff-heading);
}

.bg-base {
  background-color: var(--clr-body);
}

.bg-brand {
  background-color: var(--clr-brand);
}

/* BTN */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

/* Navbar */
.navbar {
  transition: var(--transition);
}

/* Hero */
#hero {
  padding-top: 10rem;
  padding-bottom: 5rem;

  background: linear-gradient(rgba(13, 13, 13, 0.95), rgba(13, 13, 13, 0.95)),
    url(../images/hero-bg.jpg) no-repeat center;
  background-size: cover;
}

#hero h1 {
  color: var(--clr-brand);
  font-family: var(--ff-heading);
}

/* About us */
.about__media {
  border: 1px solid var(--clr-brand);
  background-color: var(--clr-brand);
  display: grid;
  place-items: center;
  width: 100%;
  aspect-ratio: 1 / 1;
  transition: var(--transition);
}

.about__media:hover {
  background-color: transparent;
}

.about__experience {
  overflow: hidden;
  border-left: 0.5rem solid var(--clr-brand);
  padding-left: 1rem;
}

/* Value */
#value {
  padding-top: 10rem;
  padding-bottom: 5rem;

  background: linear-gradient(rgba(13, 13, 13, 0.95), rgba(13, 13, 13, 0.95)),
    url(../images/value-bg.jpg) no-repeat center;
  background-size: cover;
}

.value__card {
  height: 100%;
  border: 1px solid transparent;
  padding: 1.25rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
  transition: var(--transition);
}

.value__card:hover {
  border: 1px solid var(--clr-brand);
  background-color: var(--clr-body-light);
}

.value__media {
  width: 40%;
}

/* Chef */
.chef__card {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  aspect-ratio: 3 / 4;
}

.chef__card > img {
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: var(--transition);
}

.chef__card:hover > img {
  transform: scale(1.125);
}

.chef__info {
  z-index: 1;
  position: absolute;
  left: 0.5rem;
  right: 0.5rem;
  bottom: 0.5rem;
  background-color: var(--clr-body);
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.chef__info span {
  font-weight: 500;
}

.chef__info small {
  opacity: 0.5;
  font-weight: 300;
}

@media (max-width: 767.98px) {
  .chef__info small {
    font-size: 12px;
  }
}

/* Review */
.review__card > img {
  height: 8rem;
  width: auto;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 1px solid var(--clr-brand);
  margin-bottom: -4rem;
  z-index: 2;
}

.review__content {
  padding: 5.5rem 3.5rem 1.5rem 3.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--clr-body);
  width: 100%;
}

.review__content > p {
  opacity: 0.8;
}

.review__star {
  display: flex;
  justify-content: center;
  gap: 0.25rem;
  color: var(--clr-brand);
}

.review__star > i:last-child {
  color: grey;
}

.review__content > span {
  font-weight: 500;
}

.review__content > small {
  opacity: 0.8;
}

@media (max-width: 767.98px) {
  .review__card > img {
    height: 6rem;
    margin-bottom: -3rem;
  }
  .review__content {
    padding: 3.5rem 1.25rem 1.25rem 1.25rem;
  }
}

/* CTA */
#cta {
  background: linear-gradient(rgba(13, 13, 13, 0.25), rgba(13, 13, 13, 0.65)),
    url(../images/cta-bg.jpg) no-repeat center;
  background-size: cover;
  transition: var(--transition);
}

@media (max-width: 767.98px) {
  #cta {
    background-position: 40% 50%;
  }
}

/* Blog */
.blog__card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.blog__media {
  overflow: hidden;
  aspect-ratio: 16 / 9;
  transition: var(--transition);
}

.blog__media > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition);
}

.blog__card:hover {
  background-color: var(--clr-body-light);
}

.blog__card:hover .blog__media {
  margin: 1rem 1rem 0 1rem;
}

.blog__card:hover .blog__media > img {
  transform: scale(1.125);
}

.blog__content {
  padding: 1rem;
}

.blog__content > small {
  padding: 2px 4px;
  background-color: var(--clr-brand);
  color: var(--clr-body);
  font-weight: 500;
  line-height: 1;
  border-radius: 3px;
}

.blog__footer {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: auto;
  padding-bottom: 2rem;
}

.blog__social > i {
  cursor: pointer;
  transition: var(--transition);
}

.blog__social > i:hover {
  color: var(--clr-brand);
}

.blog__social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

/* Footer */
#footer ul > li {
  margin-bottom: 0.5rem;
}

#footer ul > li:last-child {
  margin-bottom: 0;
}

.footerCard {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.footerMedia,
.footerMediaSmall {
  margin-top: 4px;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-brand);
  overflow: hidden;
}

.footerMedia {
  height: 4rem;
}

.footerMediaSmall {
  height: 3rem;
}

.footerMediaSmall > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1.125);
}

.footerContent {
  display: flex;
  flex-direction: column;
}

.footerContent > small {
  opacity: 0.75;
}

.socialIcon {
  height: 2rem;
  width: auto;
  aspect-ratio: 1 / 1;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialIcon > i {
  color: var(--clr-body);
  transition: var(--transition);
}

.socialIcon:hover > i {
  color: var(--clr-brand);
  transition: var(--transition);
}
